# Ignore Folders
.storage
.cache
.cloud
.google.token
__pycache__
deps
icloud
notebooks
tts
HomeAssistantConfig

# Ignore File Extensions
*.conf
*.pickle
*.pyc
*.log

# Ignore Specific Files
._*
.DS_Store
.spotify-token-cache
.uuid
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant.log
google_calendars.yaml
www/images/radar_moree_256km.gif
www/images/radar_namoi_128km.gif
yamllinterrors.txt
README_Dev.md
